# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
secret.yml
vendor/ruby
database.yml
*.swp
.env

# Ignore all files created on travis
/coverage
vendor/bundle
/*.tgz
/.dpl