<div class="content white">
  <div class="container">
    <div class="page-header">
      <h3><%= page_title artwork_name: @artwork.title.capitalize %></h3>
    </div>
    <%= render 'form' %>
  </div>
</div>