<% content_for(:title) { t 'shared.not_found.title' } %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><%= t 'shared.not_found.title' %></h3>
      <p class="lead"><%= t 'shared.not_found.lead' %></p>
      <a href="<%= root_path %>" class="btn btn-danger btn-lg"><%= t 'shared.not_found.home' %></a>
    </div>
  </div>
</div>