<div class="header jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag 'logo.png', alt: 'Artfactum', class: 'logo' %>
        <h1>A better way to discover new art</h1>
        <h4 class="text-light">Artfactum is an online marketplace where artists and art lovers create virtual galleries to showcase and sell art to a global community</h4>
      </div>
    </div>
  </div>
</div>
<div class="cta text-center image slide-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Effective</h1>
        <h2>Collector? Find the best new art by the recommendations of the artistic community</h2>
      </div>
    </div>
  </div>
</div>
<div class="cta text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>And Above All: Fair</h1>
        <h2>Profit from artwork sales are split into: 90% for the artist, 7% for those who have recommend it, and 3% for the platform</h2>
      </div>
    </div>
  </div>
</div>
<div class="cta red">
  <div class="container">
    Do you want to be part of the Artfactum community?
    <div class="pull-right">
      <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-default">Sign In or Sign Up</a>
    </div>
  </div>
</div>