/*
 * Globals
 */
 @import url(http://fonts.googleapis.com/css?family=Open+Sans);

 @font-face {
    font-family: 'Amatic';
    src: url('../fonts/amaticsc-regular-webfont.eot');
    src: url('../fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('../fonts/amaticsc-regular-webfont.ttf') format('truetype'),
         url('../fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Links */
a,
a:focus,
a:hover {
  color: #ccc;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}




/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

 .masthead-brand img {
  width: 250px;
  opacity: 0.8;
}

/*
* Body
*/

.cover-heading {
  font-family: 'Amatic', serif;
  color: #fff;
  font-size: 6em;
  font-weight: 300;
  opacity: 0.8;
}
.lead {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  width:100%;
  opacity: 0.8;
  font-size: 1.4em;
  font-weight: 300;
  font-style: italic;
}

/*
* Email
*/
.signup  {
  margin: 0 auto;
  opacity: 0.8;
  max-width: 250px;
}
.signup .btn {
  width: 250px;
  color: #fff;
  background-color:rgba(127, 185, 156, 1);
  border: none;
  transition:  0.2s;
}

.signup .btn:hover {
  background-color:rgba(127, 185, 217, 1);
}

::-webkit-input-placeholder {
    color: #333;
  text-align: center;
  font-style: italic;
  opacity: 1;

}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
  text-align: center;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #333;
  text-align: center;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
  text-align: center;
  font-style: italic;
  opacity: 1;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

#footer {
  font-family: 'Cabin', sans-serif;
  height: 50px;
  margin-bottom: 10px;
  color: #fff;

}

#footer img {
  width: 50px;
  opacity: 0.8;
  margin-top: -30px;
  margin-left: 5px;
}

#footer .left {
float: left;
}
#footer .right {
  float: right;
}

.desktop-only {
  display: inline;
}
.mobile-only {
  display: none;
}

@media (max-device-width: 600px) {

  .desktop-only {
    display: none;
  }
.mobile-only {
  display: inline;
  margin-bottom: -20px;
}

#widget {
  left: 20%;
  top: 0;
  margin-bottom: 20px;
  z-index: 100;
}
video#bgvid {
    display: none;
  }
 .cover-heading {
  font-size: 3em;
  color: black;
  margin-top: -20px;
 }
 .lead {
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-bottom: 40px;
 }
#footer {
  text-align: center;
  margin-bottom: 50px;
  color: black;
}
#footer a {
  color: darkblue;
}
#footer img {
  margin-bottom: 10px;
}
#footer .left, #footer .right {
  float: none;
}
}

@media (min-device-width: 601px) and (max-device-width: 800px) {

  .desktop-only {
    display: none;
  }
.mobile-only {
  display: inline;
  margin-bottom: -20px;
}

 .cover-heading {
  font-size: 6em;
  color: black;
 }
 .lead {
  font-size: 1.6em;
  color: black;
  text-align: center;
  margin-bottom: 40px;
 }
#footer {
  text-align: center;
  margin-bottom: 50px;
  color: black;
}
#footer a {
  color: darkblue;
}

video#bgvid {
  display: none;
}

 
  .signup {
    width: 80%;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}




@media (min-device-width: 801px) {

 #bgimg {
    display: none;
  }

  video#bgvid {
position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -100;
background-size: cover;
opacity: 0.8;
}
  .cover-heading {
    margin-top: -60px;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}
