default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  username: artfactum
  password: 

development:
  <<: *default
  database: artfactum_development

test:
  <<: *default
  database: artfactum_test

production:
  <<: *default
  database: artfactum_production
  username: artfactum
  password: <%= ENV['ARTFACTUM_DATABASE_PASSWORD'] %>
