<div class="content white">
  <div class="container">
    <div class="page-header">
      <h3><%= page_title gallery_name: @gallery.title.capitalize %></h3>
    </div>
    <%= render 'form' %>
  </div>
</div>